/*
    ==== TABLE AND IMAGE ====

    Description: 
        These are text and image boxes of website.
    
    Modificators:
        
    1. Table on the right

        Description:             Move table to the right side
        Hook element selector:   .table-and-image
        Class to add:            table-on-right
*/

.table-and-image {
    margin-top: 150px;
    margin-bottom: 150px;

    .table-and-image__inner {
        display: flex;
        align-items: center;
    }
    
    .table-container {
        width: 904px;
        margin-right: 168px;

        .table + .table {
            margin-top: 150px;
        }

        .table .table-title {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 10px;
            align-items: flex-end;
            margin-bottom: 40px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                position: relative;
                display: inline-block;
                @include font($font-primary-italic,700,$small,2.2rem);
                color: $tertiary-color;
                margin-bottom: 0;
            }

            .line-decoration {
                display: block;
                background-color: #A7BFC7;
                height: 1px;
            }
        }
    }

    .image-container {
        margin-top: 62px;
        
        img {
            height: auto;
        }
    }

    // ==== Modificator 1. ====
    &.table-on-right {
        
        .table-and-image__inner {
            flex-direction: row-reverse;
        }

        .table-container {
            margin-right: 0;
            margin-left: 168px;
        }
    }
}



// RESPONSIVE

@media(max-width: 1399px) {

    .table-and-image {

        .table-container {
            width: 100%;
            margin-right: 100px;
        }

        &.table-on-right {
    
            .table-container {
                margin-left: 100px;
            }
        }
    }
}

@media(max-width: 991px) {

    .table-and-image {
        margin-top: 100px;
        margin-bottom: 100px;
        
        .table-and-image__inner {
            flex-direction: column;
        }

        .table-container {
            margin-right: 0;
        }

        &.table-on-right {
        
            .table-and-image__inner {
                flex-direction: column;
            }
    
            .table-container {
                margin-left: 0;
            }
        }

        .image-container {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .table-container .table + .table {
            margin-top: 75px;
        }
    }
}