/*
    ==== TEXT AND HEADING ====

    Description: 
        Text and heading seciton.
    
    Modificators:
        
    1. Content on the right

        Description:             Align content to the right side
        Hook element selector:   .text-and-heading
        Class to add:            content-right
*/

.text-and-heading {
    margin-top: 100px;
    margin-bottom: 100px;

    .text-and-heading__inner {
        max-width: 920px;
    }

    .title {
        margin-bottom: 50px;
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $secondary-color;
            margin-bottom: 0;
        }
    }

    .text {

        p {
            color: $tertiary-color;
        }
    }

    // ==== Modificator 1. ====
    &.content-right {

        .text-and-heading__inner {
            margin-right: 0;
            margin-left: auto;
        }
    }
}