/*
    ==== TEXT AND IMAGE ====

    Description: 
        These are text and image boxes of website.
    
    Modificators:

    1. Text and image reverse
    
        Description:             Revert position of image and text (image to left, text to right)
        Hook element selector:   text-and-image
        Class to add:            text-and-image--reversed

*/

.text-and-image {
    padding-top: 250px;
    padding-bottom: 250px;

    .text-and-image__inner {
        display: flex;
        align-items: center;

        .text,
        .image {
            width: 50%;
        }
    }

    .text-and-image__inner .image {
        padding-left: 170px;
    }

    .text-and-image__inner .text {

        .part-content:not(:last-child) {
            margin-bottom: 100px;
        }

        .title {
            margin-bottom: 50px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: $medium-large;
                margin-bottom: 0;
            }
        }

        p {
            line-height: 25px;
        }
    }
}

// ==== Modificator 1. ====
.text-and-image.text-and-image--reversed {

    .text-and-image__inner {
        flex-direction: row-reverse;
    }

    .text-and-image__inner .image {
        padding-left: 0;
        padding-right: 170px;
    }
}