@import "./mixins/mixins";
@import "variables";



// ==== Globals ====

:root {
	font-size: 62.5%; // We are changing the value of rem to 1rem = 10px instead of default 1rem = 16px because of the easier calculations
}

*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 122px;
    font-family: $font-primary-regular;
    font-size: $small;
    color: $secondary-color;
}



// ==== Inline elements ====

h1 {
    @include font($font-secondary-bold, normal, $extra-large, $extra-large);
    color: $tertiary-color;
    margin-bottom: 5.5rem;
    margin-top: 0;
}

h2 {
    @include font($font-primary-semi-bold, 700, $medium-large, $medium-large);
    color: $tertiary-color;
    margin-bottom: 5rem;
    margin-top: 0;
}

h3 {
    @include font($font-primary-bold, 700, $large, $large);
    color: $tertiary-color;
    margin-bottom: 3.5rem;
    margin-top: 0;
}

h4 {
    @include font($font-primary-bold, 700, initial, initial);
    color: $tertiary-color;
    margin-bottom: 3rem;
    margin-top: 0;
}

h5 {
    @include font($font-primary-bold, 700, initial, initial);
    color: $tertiary-color;
    margin-bottom: 2.5rem;
    margin-top: 0;
}

h6 {
    @include font($font-primary-bold, 700, initial, initial);
    color: $tertiary-color;
    margin-bottom: 2rem;
    margin-top: 0;
}

a {
    color: $fourth-color;
    text-decoration: none;

	&:hover {
        text-decoration: underline;
	}

    &.download-link {
        display: inline-block;
        position: relative;
        padding-left: 26px;
        color: $secondary-color;
        text-decoration: underline;

        &::before {
            @include pseudo("",16px,16px,absolute);
            background-image: url("../img/icons/button/icon--download.svg");
            background-position: center;
            background-size: cover;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

p {
    font-size: $small;
    margin-bottom: 30px;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

strong {
    @include font($font-secondary-semi-bold, normal, $small, $small);
}



// ==== Block elements ====

img {
    max-width: 100%;
}



// ==== Lists ====

ul {
    margin-top: 0;
    padding-left: 25px;
}

ul.pdf-list {
    padding-left: 0;
    margin-bottom: 0;
    
    li {
        display: block;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    li a {
        display: inline-block;
        position: relative;
        padding-left: 26px;
        color: $secondary-color;
        text-decoration: underline;

        &::before {
            @include pseudo("",16px,16px,absolute);
            background-image: url("../img/icons/button/icon--download.svg");
            background-position: center;
            background-size: cover;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            text-decoration: none;
        }
    }
}

ol {
    margin-top: 0;
    padding-left: 25px;
}



// Table
table {
    color: $tertiary-color;
    $th-background-color: #E7E7E7;
    border-collapse: collapse;
    border: 1px solid #969696;
    width: 100%;

    &.text-center {
        
        th,
        td {
            text-align: center;
        }
    }

    th,
    td {
        color: inherit;
        font-size: 1.8rem;
        line-height: 2.2rem;
        border: 1px solid #969696;
        text-align: left;
        padding: 11.5px 0 11.5px 15px;
    }

    th {
        @include font($font-primary-medium,500,$small,2.2rem);
        background-color: $th-background-color;
        border-radius: 8px;
    }

    td {
        @include font($font-primary-medium,400,$small,2.2rem);
        background-color: transparent;
    }
}



// ==== Text aligment ====

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}



// ==== Positioning ====

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}



// ==== Transforms ====

.rotate {
    transform: rotate(180deg);
}



// ==== Display ====

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-inline {
	display: inline;
}

.display-flex {
	display: flex;
}

.display-grid {
	display: grid;
}

.display-none {
	display: none;
}



// ==== Bootstrap overriden classes ====

@media(min-width: 1700px) {

    .container {
        max-width: 1600px;
    }
}

@media(max-width:576px) {

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .container {
        padding-right: 34px;
        padding-left: 34px;
    }
}