@import "./mixins/mixins";
@import "variables";



// ==== Globals ====

:root {
	font-size: 62.5%; // We are changing the value of rem to 1rem = 10px instead of default 1rem = 16px because of the easier calculations
}

*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 122px;
    font-family: $font-primary-regular;
    font-size: $small;
    color: $secondary-color;
}



// ==== Inline elements ====

h1 {
    @include font($font-secondary-bold, normal, $extra-large, $extra-large);
    color: $tertiary-color;
    margin-bottom: 5.5rem;
    margin-top: 0;
}

h2 {
    @include font($font-secondary-bold, normal, $medium-large, $medium-large);
    color: $tertiary-color;
    margin-bottom: 5rem;
    margin-top: 0;
}

h3 {
    @include font($font-secondary-bold, normal, $large, $large);
    color: $tertiary-color;
    margin-bottom: 3.5rem;
    margin-top: 0;
}

h4 {
    @include font($font-secondary-bold, normal, initial, initial);
    color: $tertiary-color;
    margin-bottom: 3rem;
    margin-top: 0;
}

h5 {
    @include font($font-secondary-bold, normal, initial, initial);
    color: $tertiary-color;
    margin-bottom: 2.5rem;
    margin-top: 0;
}

h6 {
    @include font($font-secondary-bold, normal, initial, initial);
    color: $tertiary-color;
    margin-bottom: 2rem;
    margin-top: 0;
}

a {
    color: $fourth-color;
    text-decoration: none;

	&:hover {
        text-decoration: underline;
	}
}

p {
    font-size: $small;
    margin-bottom: 30px;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

strong {
    @include font($font-secondary-semi-bold, normal, $small, $small);
}



// ==== Block elements ====

img {
    max-width: 100%;
}



// ==== Lists ====

ul {
    margin-top: 0;
    padding-left: 25px;
}

ol {
    margin-top: 0;
    padding-left: 25px;
}



// ==== Text aligment ====

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}



// ==== Positioning ====

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}



// ==== Transforms ====

.rotate {
    transform: rotate(180deg);
}



// ==== Display ====

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-inline {
	display: inline;
}

.display-flex {
	display: flex;
}

.display-grid {
	display: grid;
}

.display-none {
	display: none;
}



// ==== Bootstrap overriden classes ====

@media(min-width: 1700px) {

    .container {
        max-width: 1600px;
    }
}