/*
    ==== BUTTONS ====

    Component description:
        All types of buttons
    
    Modificators:
    
    1. Primary button

        Description:             Primary button styles
        Hook element selector:   button,a
        Class to add:            .button--primary
*/

$button-color-gray: #070d1d33;
$button-color-white: #FCFBFB;
$button-color-blue: #070D1D;

.dropdown-button {
    min-width: unset;
    border: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
}

button,
.button {
    display: inline-block;
    width: auto;
    min-width: 120px;
    padding: 15px 23px;
    border: 1px solid transparent;
    border-radius: 60px;
    outline: none;
    background-color: transparent;
    @include font($font-primary-light,initial, $small,$small);
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    
    &:hover {
        transition: 0.3s ease;
    }
}

a.button {
    display: inline-block;

    &:hover {
        text-decoration: none
    }
}

// ==== Modificator 1. ====
.button--primary {
    background-color: $button-color-gray;
    color: $button-color-white;
    border-color: $button-color-white;

    &:hover {
        background-color: $button-color-white;
        color: $button-color-blue;
        border-color: 1px solid transparent;
    }
}

// ==== Modificator 2. ====
.button--secondary {
    background-color: transparent;
    color: $button-color-white;
    border-color: $button-color-white;
    
    &:hover {
        background-color: $button-color-white;
        border-color: transparent;
        color: $button-color-blue;
    }
}

// ==== Modificator 3. ====
.button--tertiary {
    background-color: transparent;
    color: $button-color-blue;
    border-color: $button-color-blue;
    
    &:hover {
        background-color: $button-color-blue;
        border-color: transparent;
        color: $button-color-white;
    }
}