/*
    ==== HEADER ====

    Description: 
        This is header of website. Also, this file contains style header dropdown.
    
    Modificators:

    1. Hide header

        Description:             Hides header
        Hook element selector:   header
        Class to add:            hide

    2. Floating header

        Description:             Sets behaviour of header when user scroll the page
        Hook element selector:   header
        Class to add:            floating-header
        
    3. Header background color

        Description:             Sets background color of the header
        Hook element selector:   header
        Class to add:            bg-white || bg-navy-blue || bg-transparent
*/

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-size: 16px;
    transition:  transform 0.2s ease-out;

    // ==== Modificator 1. ====
    &.hide {
        transform: translateY(-100%);
        transition:  transform 0.2s ease-out;
    }

    // ==== Modificator 3. ====
    &.bg-navy-blue {
        background-color: $sixth-color;
    }

    // ==== Modificator 3. ====
    &.bg-transparent {
        background-color: transparent;
    }

    // ==== Modificator 3. ====
    &.bg-white {

        .site-logo .logo__figure {
            fill: #6D6D6D
        }

        .site-logo .logo__text {
            fill: #104867
        }
    }

    .header {
        padding: 40px 0;
    }

    .header__inner {
        display: flex;
        align-items: center;
    }

    .logo-holder {
        margin-right: 175px;
    }

    .links-holder .links-holder__inner {

        ul {
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
        }

        ul.active {
            display: block;
        }

        nav > ul > li > ul {
            display: none;
            position: absolute;
        }

        ul li {
            list-style: none;
            margin-right: 50px;
            position: relative;
        }

        ul li.dropdown-parent {
            padding-right: 18px;
        }

        ul li:last-child {
            margin-right: 0;
        }

        ul li .dropdown-button {
            position: absolute;
            right: 0;
            top: 10px;
        }

        a {
            color: $secondary-color;
        }
    }
}


// ==== Modificator 2. ====
header.floating-header {
    transform: 0.2s ease-out;
}

header.blurry-header {
    background-color: rgba(252, 251, 251, 0.9);
    backdrop-filter: blur(2px);
}


// Dropdown start
header .links-holder  {

    .header__links-list > .dropdown-parent > ul {
        background-color: $sixth-color;
        position: absolute;
        padding: 25px 40px;
        z-index: 2;
        min-width: 350px;
        border-radius: 8px;
        left: -40px;
        top: calc(100% + 50px);

        & > li {
            padding: 20px 0 20px 28px;
            border-bottom: 1px solid #FCFBFB4D;
        }

        & > li:last-child {
            border-bottom: none
        }
    }
}

// Choose type of dropdown depending on type of header

// ==== Navy blue and transparent header ====
header.bg-navy-blue,
header.bg-transparent {

    .links-holder {

        .header__links-list > .dropdown-parent > ul {
            background-color: $sixth-color;
            color: $white;

            & > li {
                color: $white;
                
                a {
                    color: $white;
                }
            }
        }
    }
}

// ====   header ====
header.bg-white {

    .links-holder {

        .header__links-list > .dropdown-parent > ul {
            background-color: $white;
            color: $secondary-color;
                

            & > li {
                border-bottom-color: rgba(40, 40, 40, 0.3);
                color: $secondary-color;

                a {
                    color: $secondary-color;
                } 
            }
        }
    }
}

@media(max-width: 1699px) {

    .header {

        .links-holder  {

            .header__links-list > .dropdown-parent > ul {
                top: calc(100% + 40px);
            }
        }
    }
}