// ==== Font family ====

@font-face {
    font-family: "regular";
    src: url("../fonts/Roboto-Regular.woff");
    font-display: swap;
}

@font-face {
    font-family: "medium";
    src: url("../fonts/Roboto-Medium.woff");
    font-display: swap;
}

@font-face {
    font-family: "light";
    src: url("../fonts/Roboto-Light.woff");
    font-display: swap;
}

@font-face {
    font-family: "semi-bold";
    src: url("../fonts/Roboto-Black.woff");
    font-display: swap;
}

@font-face {
    font-family: "bold";
    src: url("../fonts/Roboto-Bold.woff");
    font-display: swap;
}



// ==== Font variables =====

$font-regular: "regular", Arial, Helvetica, sans-serif;
$font-medium: "medium", Arial, Helvetica, sans-serif;
$font-light: "light", Arial, Helvetica, sans-serif;
$font-semi-bold: "semi-bold", Arial, Helvetica, sans-serif;
$font-bold: "bold", Arial, Helvetica, sans-serif;